<div class="todo-item">
    <div class="row">
        <div style="display: flex">
            <div class="col-sm-1 vcenter">
                <div class=" actions">
                    <button class="build icon" (click)="onUpdate()">
                        <i class="material-icons">build</i>
                    </button>
                </div>
            </div>
            <div class="col-sm-8 ">
                <table class="table-striped table-condensed">
                    <tr>
                        <td>Логин:</td>
                        <td>{{user.login}}</td>
                    </tr>
                    <tr>
                        <td>Эл. почта:</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Статус:</td>
                        <td>{{user.status}}</td>
                    </tr>
                    <tr>
                        <td>Роли:</td>
                        <td>
                            <span *ngFor="let role of user.roles; let i = index">{{role.name}}<span
                                    *ngIf="i<user.roles.length-1">, </span> </span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-1 col-sm-offset-1 vcenter">
                <div class="actions ">
                    <button class="delete icon" (click)="onDelete()">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>