<div class="todo-list" *ngIf="housings.length">
    <div class="search-list">
        <div>Поиск по:</div>
        <select [(ngModel)]="fieldHousings">
            <option *ngFor="let field of fieldHousing"  value="{{field.value}}">{{field.name}}</option>
        </select>
        <input type="text" name="filterValue" [(ngModel)]="filterValue">
    </div>
    <housing-item *ngFor="let housing of housings| myfilter : fieldHousings : filterValue" [housing]="housing"
                  (delete)="onDelete($event)" (update)="onUpdate($event)"></housing-item>
</div>