<div class="rooms-item">
    <div class="actions">
        <button class="build icon" (click)="onUpdate()">
            <i class="material-icons">build</i>
        </button>
    </div>
    <div class="big">
        <table>
            <tr>
                <td>Номер:</td>
                <td>{{room.name}}</td>
            </tr>
            <tr>
                <td>Категория:</td>
                <td>{{room.categoryRoom.name}}</td>
            </tr>
            <tr>
                <td>Состояние:</td>
                <td>{{room.conditionRoom.name}}</td>
            </tr>
            <tr>
                <td>Корпус:</td>
                <td>{{room.housing.name}}</td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <button class="delete icon" (click)="onDelete()">
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>