<div class="todo-item">
    <div class="actions">
        <button class="build icon" (click)="onUpdate()">
            <i class="material-icons">build</i>
        </button>
    </div>
    <div class="big">
        <table>
            <tr>
                <td>Название:</td>
                <td>{{category.name}}</td>
            </tr>
            <tr>
                <td>Стоимость в сутки:</td>
                <td>{{category.pricePerDay}}</td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <button class="delete icon" (click)="onDelete()">
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>