<form class="todo-form" (ngSubmit)="onSubmit(); housingForm.reset()" #housingForm="ngForm">
    <div class="justify-group-container">
        <div>
            <label>Корпус</label>
            <input type="text" name="name" [(ngModel)]="name" required>
        </div>
    </div>
    <div style="flex-direction: column;display: flex;">
        <button type="submit" [disabled]="housingForm.form.invalid">Добавить</button>
        <button *ngIf="housing" type="reset" (click)="onReset(); housingForm.reset()">Отмена</button>
    </div>

</form>