<div class="todo-list" *ngIf="customers.length">
    <div class="search-list">
        <div>Поиск по:</div>
        <select [(ngModel)]="fieldCustomers">
            <option *ngFor="let field of fieldCustomer"  value="{{field.value}}">{{field.name}}</option>
        </select>
        <input type="text" name="filterValue" [(ngModel)]="filterValue">
    </div>
    <customers-item *ngFor="let customer of customers| myfilter : fieldCustomers : filterValue" [customer]="customer"
                    (delete)="onDelete($event)" (update)="onUpdate($event)"></customers-item>
</div>