<div class="todo-list" *ngIf="conditions.length">
    <div class="search-list">
        <div>Поиск по:</div>
        <select [(ngModel)]="fieldConditions">
            <option *ngFor="let field of fieldCondition"  value="{{field.value}}">{{field.name}}</option>
        </select>
        <input type="text" name="filterValue" [(ngModel)]="filterValue">
    </div>
    <condition-item *ngFor="let condition of conditions | myfilter : fieldConditions : filterValue" [condition]="condition"
                    (delete)="onDelete($event)" (update)="onUpdate($event)"></condition-item>
</div>