<div class="todo-item">
    <div class="actions">
        <button class="build icon" (click)="onUpdate()">
            <i class="material-icons">build</i>
        </button>
    </div>
    <div class="big">
        <table>
            <tr>
                <td>Фамилия:</td>
                <td>{{customer.surname}}</td>
            </tr>
            <tr>
                <td>Имя:</td>
                <td>{{customer.name}}</td>
            </tr>
            <tr>
                <td>Отчество:</td>
                <td>{{customer.patronymic}}</td>
            </tr>
            <tr>
                <td>Серия пасспорта:</td>
                <td>{{customer.passportSeries}}</td>
            </tr>
            <tr>
                <td>Номер пасспорта:</td>
                <td>{{customer.passportId}}</td>
            </tr>
            <tr>
                <td>Эл. почта:</td>
                <td>{{customer.email}}</td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td>{{customer.phone}}</td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <button class="delete icon" (click)="onDelete()">
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>