﻿<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.3.9/angular.js"></script>
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <script type="text/javascript">
        var myApp = angular.module('myApp', []);
        myApp.controller('signController', function ($scope, $location) {
            var a = $location.search();
            $scope.error = a.error;
            $scope.logout = a.logout;
        });
    </script>
</head>
<body ng-controller="signController">

<form name="f" action="login" method="POST" class="form-signin" role="form">
    <div ng-show="{{error}}" class="alert alert-danger">
        Неверный логин и пароль.
    </div>
    <div ng-show="{{logout}}" class="alert alert-success">
        Вы вышли из системы.
    </div>
    <input type="text" name="username" value="" class="form-control" placeholder="Логин" required="" autofocus="">
    <input type="password" name="password" class="form-control" placeholder="Пароль" required="">
    <label class="checkbox">
        <a href="auth.html">Регистрация</a>
    </label>
    <input name="submit" type="submit" value="Войти" class="btn btn-lg btn-primary btn-block">
</form>
</body>
</html>