<form class="todo-form" (ngSubmit)="onSubmit(); categoryForm.reset()" #categoryForm="ngForm">
    <div class="justify-group-container">
        <div>
            <label>Категория</label>
            <input type="text" name="name" [(ngModel)]="name" required></div>
        <div>
            <label>Стоимость в сутки</label>
            <input type="text" name="pricePerDay" [(ngModel)]="pricePerDay" required>
        </div>
    </div>
    <div style="flex-direction: column;display: flex;">
        <button type="submit" [disabled]="categoryForm.form.invalid">Добавить</button>
        <button *ngIf="category" type="reset" (click)="onReset(); categoryForm.reset()">Отмена</button>
    </div>
</form>